@charset 'UTF-8';
/* Starter CSS for Flyout Menu */
#cssmenu,
#cssmenu ul,
#cssmenu li #cssmenu a {
  list-style: none;
  margin: 1%;
  padding: 1%;
  border: 0;
  font-size: 14px;
  font-family: Helvetica;
  line-height: 1;
}
#cssmenu {
  width: 290px;
}
#cssmenu ul {
  zoom: 1;
  background: #aeb0ad url(pattern.png) top left repeat;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #888a86;
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}
#cssmenu ul:before {
  content: '';
  display: block;
}
#cssmenu ul:after {
  content: '';
  display: table;
  clear: both;
}
#cssmenu a,
#cssmenu a:link,
#cssmenu a:visited {
  padding: 15px 20px;
  display: block;
  text-decoration: none;
  color: #ffffff;
  text-shadow: 0 -1px 1px #616460;
  border-right: 1px solid #888a86;
}
#cssmenu a:hover {
  color: #616460;
  text-shadow: 0 1px 1px #c8c9c7;
}
#cssmenu li {
  float: left;
  border-right: 1px solid #bbbdba;
}
#cssmenu li:hover {
  background: #a1a3a0 url(pattern.png) top left repeat;
}
#cssmenu li:first-child {
  border-left: none;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}


body {	
 	color:white;
 	background-image:url(sb.jpg);
 	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} 

@media screen { 

img {max-width:40%;max-height:40%}
  .section {
 display: -webkit-flex;
 -webkit-flex-direction:row; 
 -webkit-flex-wrap:wrap;
 }
#header {clear:both; float: left;padding-left:4px;margin-bottom:5px; margin-right:0; background-color:#00;border:1px solid #fff; width:100%;}
#footer {clear:both; float: left;margin:1em; padding:1em;margin-left:0;margin-bottom:0; margin-right:0; background-color:#00;border:1px solid #fff; width:40%;}
 
 label {
		display:inline-block;
		width: 150px;
	}
 
}
 
  @media only screen and (min-width:700px) {
 #grow:hover {
    color:orange;
    background-color:#cc0000;
    box-shadow: 10px 10px 5px yellow;
    max-width:100%;    
}

  }
  
  @media only screen and (min-width:1000px) {
  
  
  @-webkit-keyframes mango	 {
  0% {-webkit-transform: translate(220%,-70%)  rotateY(180deg);}
  50% {-webkit-transform: translate(220%,-70%) rotateY(0deg);}
  100% {-webkit-transform: translate(220%,-70%)  rotateY(180deg);}
	
	} 
  
  
#mango{
 position: relative;
  -webkit-animation: mango 3s ease infinite alternate,
  rotate 3s alternate;
}

#grow:hover {
    color:yellow;
    background-color:#cc0000;
    box-shadow: 10px 10px 5px orange;
    max-width:35%;    

   .smoothtitle {color:#000;}
   
   }