@charset 'UTF-8';
/* This menu was taken from http://cssmenumaker.com/ */
#cssmenu,
#cssmenu ul,
#cssmenu li #cssmenu a {
  list-style: none;
  margin: 1%;
  padding: 1%;
  border: 0;
  font-size: 14px;
  font-family: Helvetica;
  line-height: 1;
}
#cssmenu {
width: 290px;
}
#cssmenu ul {
  zoom: 1;
  background: #aeb0ad url(pattern.png) top left repeat;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #888a86;
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}
#cssmenu ul:before {
  content: '';
  display: block;
}
#cssmenu ul:after {
  content: '';
  display: table;
  clear: both;
}
#cssmenu a,
#cssmenu a:link,
#cssmenu a:visited {
  padding: 15px 20px;
  display: block;
  text-decoration: none;
  color: #ffffff;
  text-shadow: 0 -1px 1px #616460;
  border-right: 1px solid #888a86;
}
#cssmenu a:hover {
  color: #616460;
  text-shadow: 0 1px 1px #c8c9c7;
}
#cssmenu li {
  float: left;
  border-right: 1px solid #bbbdba;
}
#cssmenu li:hover {
  background: #a1a3a0 url(pattern.png) top left repeat;
}
#cssmenu li:first-child {
  border-left: none;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}




 @media screen {
    img {max-width:80%;}	
    	
/*background photo*/    	
    	 body {  	 
 	background-image:url(sb.jpg);
 	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color:white;
} 
   
    	#header {clear:both; float: left;padding-left:4px;margin-bottom:30px; margin-right:0; background-color:#00;border:1px solid #fff; width:100%;}
    	#foot {clear:both; float: left;margin:1em; padding:1em;margin-left:0;margin-bottom:0; margin-right:0; background-color:#00;border:1px solid #fff; width:35%;}
    	.farright {clear:both;float: left; margin: 1em;margin-left:0; margin-top:0;padding:1em;}     	
 
  
.nav {list-style-type:none;} 
  
.orders {
display:cover;
}
  
  
label {
	display:inline-block;
	width: 150px;
}
		
.horizontal {
list-style-type: none;
padding-top: 100px;
}		

.farright {
float:left;width:200px;
}


 
     }
     
 
 
@media screen and (min-width:700px) {
	#pbb { float: left; margin-left:0; margin:1%; padding:1%; background-color:#fff;width:23%;}
     #sb {float: left; margin:1%; padding:1%; background-color:#fff;width:27%;}
     #cd {float: left; margin:1%;margin-right:0; padding:1%; background-color:#fff;width:31%;clear:right;}
 	 .horizontal li {display:inline-block;
	width:30%;}
  
   }
   
@media screen and (min-width:1000px) {
		#pbb { float: left; margin-left:0; margin:1%; padding:1%; background-color:#fff;width:27%;}
     	#sb {float: left; clear:right; margin:1%; padding:1%; background-color:#fff;width:23%;}
     	#cd {float: left; margin:1%;margin-right:0; padding:1%; background-color:#fff;width:30%;clear:right;}
     	.section{display:inline;}
     	.{display:inline;}
.horizontal li {display:inline-block;
width:30%;}

}
     	
