 body {
 	
 	color:white;
 	background-image:url(sb.jpg);
 	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

} 

  @media screen { 

img {max-width:40%;max-height:40%}
  .section {
 display: -webkit-flex;
 -webkit-flex-direction:row; 
 -webkit-flex-wrap:wrap;
 }
#header {clear:both; float: left;padding-left:4px;margin-bottom:5px; margin-right:0; background-color:#00;border:1px solid #fff; width:100%;}
#foot {clear:both; float: left;margin:1em; padding:1em;margin-left:0;margin-bottom:0; margin-right:0; background-color:#00;border:1px solid #fff; width:15%;}
 
 label {
		display:inline-block;
		width: 150px;
		}
 

 }
 
  @media only screen and (min-width:500px) {
  
  }
  
  @media only screen and (min-width:900px) {
  
  }
  
   .smoothtitle {color:#000;}